.album-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  min-height: 50vh;
  padding-bottom: 200px;
}

.album-detail {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.album-details-left-container {
  padding-right: 50px;
  width: 290px;
}

.album-details-left-container h3 {
  margin: 20px 0;
}

.album-detail img {
  width: 100%;
}

.album-playlist {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.album-track {
  align-items: center;
  border-bottom: 1px solid #e1e5eb;
  border-top: 1px solid #e1e5eb;
  display: flex;
  height: 100px;
  justify-content: space-between;
  width: 100%;
}

.favorite-background-container {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  padding-bottom: 80px;
  position: relative;
}

.favorite-background-container h1 {
  align-self: center;
}

.favorite-background-container h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  left: 8%;
  position: absolute;
}

.favorite-background-container ul {
  align-items: flex-end;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin: 0 30px;
  margin-top: 50px;
  max-width: 550px;
}

.track-name-container, .track-name-container span {
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipse;
  white-space: nowrap;
}

.track-name-container {
  align-items: center;
  display: flex;
  height: 100%;
  margin-right: 10px;
  padding-left: 8px;
  position: relative;
  width: 100px;
  z-index: 5;
}

.track-name-container span {
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  white-space: nowrap;
}

.track-name-container span:hover {
  animation: sliding 5s infinite;
}

@keyframes sliding {

  100% {
    transform: translateX(-70%);
  }

}

.favorite-background-container img {
  border-radius: 100%;
  width: 60px;
}

.audio-container {
  align-items: center;
  display: flex;
}

.audio-container svg {
  margin: 10px;
}

@media ( max-width : 900px ) {

  .album-detail {
    align-items: center;
    flex-direction: column;
  }

  .album-details-left-container {
    align-items: center;
    display: flex;
    margin-bottom: 50px;
    padding-right: 50px;
  }

  .audio-container audio {
    width: 250px;
  }

  .album-titles {
    margin-left: 10px;
  }
}

@media ( max-width : 500px ) {

  .album-playlist {
    width: 100vw;
  }

  .favorite-background-container .album-track {
    flex-direction: column;
    height: 170px;
    padding: 10px;
  }

  .favorite-background-container .album-track span {
    justify-content: center;
    margin: 5px 0;
    overflow: visible;
    text-align: center;
    width: 100%;
  }
}
