* {
  margin: 0;
  padding: 0;
}

.main-container {
  align-items: center;
  background-color: antiquewhite;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.large-width {
  width: 100%;
}
