* {
  margin: 0;
  padding: 0;
}

.main-container {
  margin: auto;
}

.top-container {
  width: 100%;
}

.blue-button {
  background-color: rgb(1, 1, 207);
  color: white;
}

.main-container input, .main-container button {
  border-radius: 5px;
  box-sizing: border-box;
  height: 30px;
}

.main-container button {
  border: none;
}

.main-container input {
  padding-left: 15px;
}

.main-container button:disabled {
  cursor: not-allowed;
  opacity: 60%;
}
