/* Efeito de sombra retirado do exemplo do W3School box-shadow */
.login-forms {
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) , 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  height: 220px;
  justify-content: center;
  width: 450px;
}

.login-forms input, .login-forms button {
  border: 1px solid rgba(0, 0, 0, 0.137);
  box-sizing: border-box;
  height: 30px;
  width: 80%;
}

.login-forms input {
  padding: 15px;
}

.login-forms button {
  background-color: rgb(1, 1, 207);
  color: white;
}

.login-container h1 {
  margin-bottom: 50px;
  text-align: center;
}

.login-forms button:disabled {
  opacity: 40%;
}
