.profile-container {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  min-height: 400px;
  padding: 15px;
  width: 300px;
}

.profile-top-container {
  display: flex;
  height: 100px;
  justify-content: space-between;
}

.profile-button-container, .profile-img-container {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: center;
}

.profile-button-container button {
  height: 32px;
  width: 119px;
}

.profile-img-container img {
  border-radius: 100%;
  height: 100%;
  object-fit: cover;
  width: 80px;
}

.profile-info-container div {
  margin: 15px 0;
}

.profile-info-container {
  font-style: normal;
  line-height: 150%;
}

.profile-info-container strong, .profile-edit-info-container strong {
  color: #3d495c;
  font-size: 16px;
  font-weight: 700;
}

.profile-info-container p {
  font-family: Verdana , sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.profile-container button {
  background-color: white;
  border: 1px solid blue;
  color: blue;
  padding: 5px;
}

.profile-edit-container {
  margin: 50px auto;
  width: 290px;
}

.profile-edit-info-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.profile-edit-info-container input, .profile-edit-info-container textarea {
  color: #3d495c;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 37px;
  margin-bottom: 20px;
}

.profile-edit-info-container textarea {
  height: 80px;
  resize: none;
}

.input-edit-link {
  border: 1px solid #dadada;
  border-radius: 2px;
  box-sizing: border-box;
}

.profile-edit-info-container em {
  color: #3d495c;
  font-family: Verdana , sans-serif;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 150%;
}

.profile-info-input {
  border: none;
  border-bottom: 1px solid #3d495c;
  border-radius: 0;
  padding-left: 10px;
}
