.search-input-container {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.search-input-container input {
  width: 50%;
}

.search-input-container button {
  margin-left: 10px;
  width: 100px;
}

.current-search-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.album-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 300px;
  margin: 15px;
  width: 250px;
}

.album-card img, .album-card {
  border-radius: 5px;
}

.album-card img {
  height: 50%;
  object-fit: cover;
  width: 100%;
}

.album-cover {
  margin: 15px 20px;
}

.album-cover p {
  margin-top: 15px;
}

.search-results {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 1500px;
}
