.search-input-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.search-input {
  position: relative;
  width: 50%;
}

.search-input input {
  border: 1px solid #3d495c;
  border-radius: 6px;
  height: 45px;
  padding: 12px 35px 12px 10px;
  width: 100%;
}

.search-ico {
  position: absolute;
  right: 10px;
  top: 12.5px;
}

.search-input-container button {
  height: 45px;
  margin-left: 10px;
  padding: 8px 32px;
  width: 134px;
}

.albuns-found-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.albuns-found-container a {
  color: black;
  text-decoration: none;
}

.album-card {
  background-color: white;
  border: 1px solid #e1e5eb;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06) , 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 320px;
  margin: 15px;
  padding: 0 0 16px;
  width: 290px;
}

.album-card img, .album-card {
  border-radius: 5px;
}

.album-card img {
  height: 50%;
  object-fit: cover;
  width: 100%;
}

.album-cover {
  margin: 15px 20px;
}

.album-cover p {
  margin-top: 15px;
}

.album-not-found {
  color: #023031;
  display: flex;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  justify-content: center;
  letter-spacing: 0.02em;
  line-height: 65px;
  width: 100%;
}

.album-result-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
  width: 100%;
}

.albums-found-container {
  margin: 0 10%;
}
