.search-input-container {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.search-input-container input {
  width: 50%;
}

.search-input-container button {
  margin-left: 10px;
  width: 100px;
}

.current-search {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

.album-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) , 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  height: 200px;
  margin: 15px;
  width: 200px;
}

.album-card img {
  object-fit: cover;
  width: 100%;
}

.search-results {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 1500px;
}
